/*
Theme Name: Architect Studio
Theme URI: https://themearile.com/architect-studio-theme/
Template: aasta
Author: ThemeArile
Author URI: https://themearile.com
Description: Architect Studio is a modern theme for architecture and interior design websites. It is well suited for architecture, interior design, home decor, exterior design, decoration,  furniture, business, construction, corporate, agency, business promotion, industries, beauty & spa salons, photography, gym, blog, travel agency, and many other websites. It also helps you take your business to the next dream level even though you will have many options to consider. As well is sophisticated plus it has some exotic features like customization and clean code, advanced typography, sticky menu, logo upload, header image, Bootstrap 4 framework, built with SEO in mind, and translation ready (WPML, Polylang). It's built to be beautiful on all screen sizes. This theme supports the best Elementor page builder to create, edit, and update page designs per the requirement. Architect Studio also supports popular free and premium WordPress plugins such as Elementor, Yoast SEO, WooCommerce, Contact Form 7, Jetpack, Google Analytics, and much more. Check the demo of Architect Studio Pro https://themearile.com/aasta-pro-theme/.
Version: 1.5
Tested up to: 6.0
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: architect-studio
Tags: one-column, two-columns ,right-sidebar, flexible-header, custom-background, custom-header, custom-menu, editor-style, featured-images, footer-widgets, post-formats, theme-options, threaded-comments, rtl-language-support, translation-ready, full-width-template, custom-logo, blog, e-commerce, portfolio
*/

/*--------------------------------------------------
=>> Body Custom Background Css
--------------------------------------------------*/

body.custom-background .theme-bg-dark,
body.custom-background .theme-bg-default, 
body.custom-background .theme-blog.theme-bg-grey {
    background-color: transparent !important;
}

body, #wrapper {
    background-color: #292b32;
}

/*--------------------------------------------------
=>> Typography Css
--------------------------------------------------*/

a:hover, a:active {
    color: #fff;
    outline: 0;
}
h1, .h1, h2, .h2, .h3, h3, h4, .h4, h5, .h5, .h6, h6 {
	text-transform: uppercase;
}
.navbar .nav .menu-item .nav-link {
    text-transform: uppercase;
}
.navbar .nav .menu-item .dropdown-item {
    text-transform: uppercase;
}
.navbar .nav .menu-item .nav-link {
    font-weight: 600;
}
.navbar .nav .menu-item .nav-link {
    letter-spacing: 2px;
}
.navbar .nav .menu-item .dropdown-item {
    font-weight: 600;
}
.navbar .nav .menu-item .dropdown-item {
    letter-spacing: 2px;
}

/*--------------------------------------------------
=>> Page Header
--------------------------------------------------*/

.theme-page-header-area {
    padding: 7.9375rem 0 7.9375rem 0;
}

/*--------------------------------------------------
=>> Theme Main Slider
--------------------------------------------------*/

.theme-main-slider .overlay {
    background-color: rgba(0,0,0,0.5);
}
#theme-main-slider .item {
    height: 850px;
}
.theme-slider-content .theme-caption-bg2 .title-large {
	font-size: 5rem;
	line-height: 1; 
	color: #ffffff; 
	text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);  
	margin-bottom: 1.5625rem; 
	letter-spacing: 1px;
    text-transform: capitalize;	
	font-weight: 500;
}
.theme-slider-content .theme-caption-bg2 .sub-title {
    background-color: transparent;
    color: #fff;
    text-shadow: none;
    display: inline-block;
    padding: 0px 0px 0px 0.875rem;
}
@media (min-width: 992px) {
	.theme-slider-content { 
		top: 50%;
	}
}
@media (max-width: 768px) { 
	#theme-main-slider .item {
		height: 550px;
	}
	.theme-slider-content .theme-caption-bg2 .title-large { 
		font-size: 3.5rem; 
		margin: 0 0 1.000rem; 
	}	
}
@media (max-width: 500px) { 
	.theme-slider-content .theme-caption-bg2 .title-large { font-size: 3rem; margin: 0 0 1.000rem; } 
	.theme-slider-content .theme-caption-bg2 .sub-title { margin-bottom: 1.500rem; padding: 3px 5px 3px 11px; }
	.theme-caption-bg, .theme-caption-bg2 { width: 100%; padding-left: 20px; padding-right: 20px; }	
}


/*--------------------------------------------------
=>> Theme Service Area Four
--------------------------------------------------*/

.theme-services.vrsn-four .service-content {
	margin-top: 0;
}
.theme-services.vrsn-four .service-content {
    padding: 1.25rem 1.25rem 2.188rem;
}
.theme-services.vrsn-four .service-content-thumbnail {
    margin-top: 0px;
}
.theme-services.vrsn-four .service-content-thumbnail img {
    border-radius: 0;
    width: auto;
    height: auto;
	border: 0px none;
}
.theme-services.vrsn-four .service-content:hover .service-content-thumbnail img {
	-webkit-filter: unset;
	filter: unset;
	-webkit-transform: none;
	-moz-transform: none;
	-o-transform: none;
	-ms-transform: none;
}

/*--------------------------------------------------
=>> Theme Project Area   
--------------------------------------------------*/

.theme-project .row.theme-project-row {
	margin-right: 0;
    margin-left: 0;
}

/*--------------------------------------------------
=>> Theme Testimonial
--------------------------------------------------*/

.theme-testimonial.vrsn-three .theme-testimonial-overlay {
    background-color: rgba(0, 0, 0, .40);
}
.theme-testimonial.vrsn-three .theme-testimonial-block:before {
	display: none;
}
.theme-testimonial.vrsn-three .testimonial-content.vrsn-two {
	padding: 4.5rem 2.5rem 2.5rem;
	margin-bottom: 2rem;
	text-align: center;
	border-radius: 0;
}
.theme-testimonial.vrsn-three .testimonial-content.vrsn-two:hover {
	transform: translateY(-7px);
	-webkit-box-shadow: 0 3px 15px 0 rgb(0 0 0 / 2%);
	-moz-box-shadow: 0 3px 15px 0 rgb(0 0 0 / 2%);
	box-shadow: 0 3px 15px 0 rgb(0 0 0 / 2%);
}
.theme-testimonial.vrsn-three .testimonial-content.vrsn-two::before {
	position: absolute;
    font-family: "FontAwesome";
    content: "\f10d";
    border-color: transparent;
    top: 10px;
    left: 45%;
    right: 0;
    display: block;
    padding: 0;
    font-size: 2.5rem;
    color: #fff;
    border-width: 0;
    border-style: none;
}
.theme-testimonial.vrsn-three .testimonial-content.vrsn-two:after {
	content: '';
    width: 29px;
    height: 29px;
    position: absolute;
    bottom: -6px;
    left: 50%;
    z-index: 1;
    -webkit-transform: translateX(-50%) rotate(125deg) skew(-20deg);
    -ms-transform: translateX(-50%) rotate(125deg) skew(-20deg);
    transform: translateX(-50%) rotate(125deg) skew(-20deg);
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
.theme-testimonial.vrsn-three .theme-testimonial-block p {
    color: #ffffff !important;
	font-size: 1.125rem;
}
.theme-testimonial.vrsn-three .theme-testimonial-block.vrsn-two .media {
	display: block;
    text-align: center;
	margin-left: 0;
}
.theme-testimonial.vrsn-three .theme-testimonial-block.vrsn-two .thumbnail {
    margin: 0 auto 1.25rem;
}
.theme-testimonial.vrsn-three .theme-testimonial-block.vrsn-two .thumbnail img {
    margin: 0;
    width: 5rem;
    height: 5rem;
}
.theme-testimonial.vrsn-three .theme-testimonial-block .name {
    font-size: 1.125rem;
}
.theme-testimonial.vrsn-three .theme-testimonial-block .position {
    font-size: 1rem;
}

/*-----------------------------------------------------
=>> Sidebar Widget Style Css According to WordPress 6.0
-----------------------------------------------------*/

.sidebar .widget .wp-block-group .wp-block-verse {
	margin-bottom: 0;
}
.sidebar .widget .wp-block-group .wp-block-quote {
	margin-bottom: 0;
}
.sidebar .widget .wp-calendar-table thead th {
    border: 2px solid #5B5D64;
    background-color: #5B5D64;
	color: #fff;
}
.sidebar .widget .wp-calendar-table tbody td {
	border: 1px solid #5B5D64;
}
.sidebar .widget .wp-block-calendar table caption {
	text-align: center;
}
.sidebar .widget .wp-block-group .wp-block-tag-cloud a {
    background-color: #5b5d64;
    border: 1px solid #5b5d64;
    color: #e5e5e5;
    font-size: 0.875rem !important;
    display: inline-block;
    padding: 0.313rem 0.813rem;
    margin: 0 0.125rem 0.438rem 0px;
    border-radius: 0px;
}
.sidebar .widget .wp-block-group .wp-block-button .wp-block-button__link {
	background: #5B5D64;
    border: 2px solid #5B5D64;
    color: #fff !important;
}
.sidebar .widget .wp-block-group ul.wp-block-rss {
	margin-left: 0;
}
.sidebar .widget .wp-block-group .wp-block-latest-comments li.wp-block-latest-comments__comment, 
.sidebar .widget .wp-block-group .wp-block-latest-posts.wp-block-latest-posts__list li, 
.sidebar .widget .wp-block-group .wp-block-page-list li.wp-block-pages-list__item, 
.sidebar .widget .wp-block-group ul.wp-block-rss li, 
.sidebar .widget .wp-block-group ul.wp-block-archives-list li {
	padding-top: 0.4375rem; 
    padding-bottom: 0.4375rem; 
    border-bottom: 1px dotted #5b5d64;
	margin-bottom: 0;
}
.sidebar .widget .wp-block-group ul.wp-block-page-list,
.sidebar .widget .wp-block-group ul.wp-block-page-list li ul.submenu-container,
.sidebar .widget .wp-block-group ul.wp-block-categories-list {
	margin-left: 0;
    list-style: none;
}


/*------------------------------------------------------------
=>> Footer Sidebar Widget Style Css According to WordPress 6.0
------------------------------------------------------------*/

.footer-sidebar .widget .wp-block-group .wp-block-latest-comments li.wp-block-latest-comments__comment, 
.footer-sidebar .widget .wp-block-group .wp-block-latest-posts.wp-block-latest-posts__list li, 
.footer-sidebar .widget .wp-block-group .wp-block-page-list li.wp-block-pages-list__item, 
.footer-sidebar .widget .wp-block-group ul.wp-block-rss li, 
.footer-sidebar .widget .wp-block-group ul.wp-block-archives-list li, 
.footer-sidebar .widget .wp-block-group ul.wp-block-categories-list li {
	padding-top: 0.4375rem; 
    padding-bottom: 0.4375rem; 
    border-bottom: 1px dotted #5b5d64;
	margin-bottom: 0;
}
.footer-sidebar .widget .wp-block-group .wp-block-latest-posts.wp-block-latest-posts__list li:before, 
.footer-sidebar .widget .wp-block-group .wp-block-page-list li:before, 
.footer-sidebar .widget .wp-block-group ul.wp-block-archives-list li:before,
.footer-sidebar .widget .wp-block-group ul.wp-block-categories-list li:before {
	font-family: FontAwesome;
    color: #e5e5e5;
    content: "\f096";
    font-size: 0.625rem;
    font-weight: 400;
    margin-right: 0.625rem;
    vertical-align: middle;
}
.footer-sidebar .widget .wp-block-group ul.wp-block-rss {
	margin-left: 0;
}
.footer-sidebar .widget .wp-block-group .wp-block-latest-comments article {
    margin-bottom: 0rem;
}
.footer-sidebar .widget .wp-block-group .wp-block-latest-comments li.wp-block-latest-comments__comment {
	padding-top: 0.7375rem;
    padding-bottom: 0.7375rem;
}



/*--------------------------------------------------
=>> Theme Blog Single Area
--------------------------------------------------*/

.post .post-password-form input[type="password"] {
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}