/*
theme-default.css
*/


/*--------------------------------------------------
=>> Common - Begining Css
--------------------------------------------------*/

blockquote {
	border-left: 3px solid #ff214f;
}
td a {
	color: #ff214f;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus,
input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus,
input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus,
input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus,
select:focus, .form-control:focus {
	border-color: #ff214f;
	box-shadow: 0 0 0 1px rgba(255, 33, 79, .65) !important;
}

button,
input[type="button"],
input[type="submit"] {
	background-color: #ff214f;
}
.btn-default, 
.btn-default-dark, 
.btn-light:hover, 
.btn-light:focus { 
	background: #ff214f; 
}
.btn-light { 
	color: #ff214f; 
}
.btn-border, 
.btn-border:hover, 
.btn-border:focus { 
	border: 2px solid #ff214f; 
}
.btn-border:hover, 
.btn-border:focus {
    background: #ff214f;
}

/*--------------------------------------------------
=>> Navbar
--------------------------------------------------*/

.navbar.navbar-header-wrap .navbar-toggler:hover, 
.navbar.navbar-header-wrap .navbar-toggler:focus {
	outline: 2px dotted #ff214f;
} 

@media (max-width: 991px) { 
	.navbar .nav .menu-item .nav-link {
		border-bottom: 1px solid rgba(255, 33, 79, .7);
	}
	.navbar.header-fixed-top .nav .menu-item .dropdown-item:hover {
		color: #ff214f;
	}
}	
		
.navbar .nav .menu-item .nav-link:hover, 
.navbar .nav .menu-item .nav-link:focus, 
.navbar.header-fixed-top .nav .menu-item .nav-link:hover, 
.navbar.header-fixed-top .nav .menu-item .nav-link:focus, 
.navbar.navbar-header-wrap .nav .menu-item .nav-link:hover, 
.navbar.navbar-header-wrap .nav .menu-item .nav-link:focus, 
.navbar.navbar-header-wrap.header-fixed-top .nav .menu-item .nav-link:hover, 
.navbar.navbar-header-wrap.header-fixed-top .nav .menu-item .nav-link:focus {
    color: #ff214f;
}
.navbar .nav .menu-item.active > .nav-link, 
.navbar.header-fixed-top .nav .menu-item.active > .nav-link {
	color: #ff214f;
}
.navbar .nav .dropdown-menu .menu-item { 
	margin-right: 0;
	border-bottom: solid 1px rgba(255, 33, 79, .7);
}
.navbar .nav .menu-item .dropdown-item:hover, 
.navbar .nav .menu-item .dropdown-item:focus, 
.navbar.navbar-header-wrap .nav .menu-item .dropdown-item:hover, 
.navbar.navbar-header-wrap .nav .menu-item .dropdown-item:focus {
    background-color: transparent;
	color: #ff214f;
}
.navbar .nav .dropdown-menu .menu-item.active .dropdown-item {
	background-color: transparent;
	color: #ff214f;
}
.navbar .nav .dropdown-menu > .menu-item > ul.dropdown-menu .menu-item.active .dropdown-item {
    background-color: transparent;
	color: #ff214f;
}
.navbar .nav .dropdown-menu > .menu-item > ul.dropdown-menu > .menu-item > .dropdown-item:hover, 
.navbar .nav .dropdown-menu > .menu-item > ul.dropdown-menu > .menu-item > .dropdown-item:focus {
    background-color: transparent;
	color: #ff214f;
}
.navbar.navbar-header-wrap.header-fixed-top .nav .btn-border {
    border: 2px solid #ff214f;
}
.navbar.navbar-header-wrap .nav .btn-border:hover, 
.navbar.navbar-header-wrap .nav .btn-border:focus, 
.navbar.navbar-header-wrap.header-fixed-top .nav .btn-border:hover, 
.navbar.navbar-header-wrap.header-fixed-top .nav .btn-border:focus {
    background: #ff214f;
	color: #ffffff;
	border: 2px solid #ff214f;	
}
.navbar .nav .menu-item:hover .nav-link, 
.navbar .nav .menu-item.active .nav-link {
    color: #ff214f;
}
/*Add Menu*/
.navbar .nav .menu-item .nav-link.add-menu {
	background-color: #ff214f;
    border: 2px solid #ff214f;
}
.navbar .nav .menu-item .nav-link.add-menu:hover, 
.navbar .nav .menu-item .nav-link.add-menu:focus {
	background-color: #ff214f;
	color: #fff;
}
.navbar.navbar-header-wrap .nav .menu-item .nav-link.add-menu {
	background: transparent;
	border: 2px solid #fff;	
} 
.navbar.navbar-header-wrap.header-fixed-top .nav .menu-item .nav-link.add-menu {
	border: 2px solid #ff214f;
}
.navbar.navbar-header-wrap .nav .menu-item .nav-link.add-menu:hover, 
.navbar.navbar-header-wrap .nav .menu-item .nav-link.add-menu:focus, 
.navbar.navbar-header-wrap.header-fixed-top .nav .menu-item .nav-link.add-menu:hover, 
.navbar.navbar-header-wrap.header-fixed-top .nav .menu-item .nav-link.add-menu:focus {
    background: #ff214f;
	color: #ffffff;
	border: 2px solid #ff214f;	
}

/*--------------------------------------------------
=>> Header Navbar Classic Header
--------------------------------------------------*/

@media (min-width: 992px) {
	.navbar.navbar-header-wrap.classic-header .nav .menu-item.active .nav-link {
		background-color: #ff214f;
	}
	.navbar.navbar-header-wrap.classic-header .nav .menu-item .nav-link:before {
		background: #ff214f;
	}
}
@media (max-width: 992px) {
	.navbar.navbar-header-wrap.classic-header .nav .menu-item .nav-link:hover, 
	.navbar.navbar-header-wrap.classic-header.header-fixed-top .nav .menu-item .nav-link:hover {
		color: #ff214f !important;
	}
	.navbar .nav .menu-item.active > .nav-link, 
	.navbar.header-fixed-top .nav .menu-item.active > .nav-link,
	.navbar.navbar-header-wrap .nav .menu-item.active > .nav-link, 
	.navbar.navbar-header-wrap.header-fixed-top .nav .menu-item.active > .nav-link {
		color: #ff214f;
	}
}
@media (max-width: 500px) {
	.navbar.navbar-header-wrap.classic-header .nav .menu-item .nav-link:hover,
	.navbar.navbar-header-wrap.classic-header.header-fixed-top .nav .menu-item .nav-link:hover {
		color: #ff214f;
	}
}


/*--------------------------------------------------
=>> Search Popup Box For Header
--------------------------------------------------*/

#search-popup .btn {
	background-color: #ff214f;
	border-color: #ff214f;
}

/*--------------------------------------------------
=>> Site Header Contact Info
--------------------------------------------------*/

.site-header, 
.site-header.vrsn-two { 
	background-color: #ff214f; 
}
.custom-social-icons li a.social-hover:hover,	
.custom-social-icons li a.social-hover:focus { 
	color: #ff214f; 
}

/*--------------------------------------------------
=>> Theme Combined Classes
--------------------------------------------------*/

.theme-bg-default { background-color: #ff214f !important; }
.text-default { color: #ff214f !important; }
.entry-header .entry-title a:hover, 
.entry-header .entry-title a:focus { 
	color: #ff214f !important; 
}

/*--------------------------------------------------
=>> WooCommerce Menubar Cart Info  
--------------------------------------------------*/

.woo-cart-block > a .cart-total {
	background: #ff214f;
}

/*--------------------------------------------------
=>> Theme Main Slider
--------------------------------------------------*/

.theme-slider-content .theme-caption-bg2 .sub-title {
    border-left: 4px solid #ff214f;
}
.theme-slider-content .btn-slider {
    background-color: #ff214f;
}
.theme-main-slider .owl-carousel .owl-prev:hover, 
.theme-main-slider .owl-carousel .owl-prev:focus, 
.theme-main-slider .owl-carousel .owl-next:hover, 
.theme-main-slider .owl-carousel .owl-next:focus { 
	background-color: #ff214f !important;
}


/*--------------------------------------------------
=>> Slider Next/Prev Button Styles
--------------------------------------------------*/

.owl-carousel .owl-prev:hover, 
.owl-carousel .owl-prev:focus, 
.owl-carousel .owl-next:hover, 
.owl-carousel .owl-next:focus, 
.theme-sponsors .owl-carousel .owl-prev:hover, 
.theme-sponsors .owl-carousel .owl-next:hover { 
	background-color: #ff214f;
}
.owl-theme .owl-dots .owl-dot.active span {
	background-color: #ff214f;
}

/*--------------------------------------------------
=>> Theme Page Header Area
--------------------------------------------------*/

.page-breadcrumb > li a { color: #ff214f; }

/*--------------------------------------------------
=>> Theme Section Title & Subtitle
--------------------------------------------------*/

.theme-separator-line-horrizontal-full::before {
    color: #ff214f;
}

/*--------------------------------------------------
=>> Theme Service Area
--------------------------------------------------*/

.theme-services .service-content:hover { 
	border: 1px solid #ff214f;
}
.theme-services .service-content::before {
    background: #ff214f;
}
.theme-services .service-content-thumbnail a { color: #ff214f; }
.theme-services .service-content-thumbnail i.fa { 
	color: #ff214f;
}

/*--------------------------------------------------
=>> Theme Service Area Two
--------------------------------------------------*/

.theme-services .service-content-thumbnail-two, 
.theme-services .service-content-thumbnail-two a {  
	color: #ff214f; 
}
.theme-services .service-content-two .service-title a:hover, 
.theme-services .service-content-two .service-title a:focus {
    color: #ff214f;
}


/*--------------------------------------------------
=>> Theme Project Area
--------------------------------------------------*/

.theme-project.vrsn-three .theme-project-content .content-overlay {
    background: rgb(0 0 0 / 80%);
}
.theme-project .theme-project-content:hover { 
	background-color: #ff214f; 
}
.theme-project .theme-project-content:hover .content-area:before {
    border-color: transparent transparent #ff214f transparent;
}

/*--------------------------------------------------
=>> Theme Testimonial Area
--------------------------------------------------*/

.theme-testimonial-block { 
    border: 1px solid #ff214f;	
}
.theme-testimonial-block:before { 
    background-color: #ff214f;
}
.theme-testimonial-block::after {
    color: #ff214f;
}
.theme-testimonial-block .name, 
.theme-testimonial-block .name a, 
.theme-testimonial-block .name a:hover, 
.theme-testimonial-block .name a:focus {
	color: #ff214f;
}
.theme-testimonial .theme-section-module .section-area-desc {
    color: #ff214f;
}

/*--------------------------------------------------
=>> Theme Testimonial Area Three
--------------------------------------------------*/

.theme-testimonial.vrsn-three .testimonial-content.vrsn-two {
	background-color: #ff214f;
}
.theme-testimonial.vrsn-three .testimonial-content.vrsn-two:after {
    background-color: #ff214f;
}

/*--------------------------------------------------
=>> Contact Page Area
--------------------------------------------------*/

.theme-contact-widget i.fa { 
	color: #ff214f;	
}

/*--------------------------------------------------
=>> 404 Error Page Area
--------------------------------------------------*/

.theme-error-page .error-title b, 
.theme-error-page .error-title i { 
	color: #ff214f;
}

/*--------------------------------------------------
=>> Theme Blog Sidebar 
--------------------------------------------------*/

.entry-content a { color: #ff214f; }

/*--------------------------------------------------
=>> Theme Blog Meta Info
--------------------------------------------------*/

.media .posted-on time.days {
    background-color: #ff214f;
}
.entry-meta a:hover, .entry-meta a:focus {
    color: #ff214f;
}
.more-link {
	background: #ff214f;
}
.entry-meta .tag-links a:hover, 
.entry-meta .tag-links a:focus {
    background-color: #ff214f;
	border: 1px solid #ff214f;
}
.pagination a:hover, 
.pagination a.active, 
.page-links a:hover, 
.post-nav-links a:hover, 
.post-nav-links .post-page-numbers.current { 
	background-color: #ff214f; 
	border: 1px solid #ff214f; 
}
.navigation.pagination .nav-links .page-numbers.current, 
.navigation.pagination .nav-links .page-numbers:hover, 
.navigation.pagination .nav-links .page-numbers:focus {
	background-color: #ff214f; 
	border: 1px solid #ff214f; 
}
.comment-detail-title a:hover, 
.comment-detail-title a:focus { 
	color: #ff214f; 
}
.comment-detail-title .comment-date a {
    color: #ff214f;
}
.comment-detail-title .comment-date a:hover { color: #ff214f; }
.reply a {
	background-color: #ff214f;
    border: 2px solid #ff214f;
}
.reply a:hover, .reply a:focus { 
	border: 2px solid #ff214f;
	background-color: #ff214f;
}
.logged-in-as a {		
	color: #ff214f;		
}
.theme-comment-title h4:after {
    background: #ff214f;
}
.page-links a {
    background-color: #ff214f;
    border: 1px solid #ff214f;
	color: #fff;
}

/*--------------------------------------------------
=>> Theme Blog Area - Homepage Three
--------------------------------------------------*/

.theme-blog.vrsn-three .post, 
.theme-blog.vrsn-three .post:hover {
	border-top: 5px solid #ff214f;
}

/*--------------------------------------------------
=>> Theme Widgets Area
--------------------------------------------------*/

.widget a:hover, 
.widget a:focus, 
.footer-sidebar .widget_rss ul li .rsswidget:hover, 
.footer-sidebar .widget_rss ul li .rsswidget:focus { 
	color: #ff214f; 
}
.widget_archive li, .widget_categories li, .widget_links li, 
.widget_meta li, .widget_nav_menu li, .widget_pages li {
    color: #ff214f;
}
.widget button[type="submit"], 
.btn-success {
    background-color: #ff214f;
	border-color: #ff214f;
}
.widget .tagcloud a:hover, 
.widget .tagcloud a:focus {
    background-color: #ff214f;
    border: 1px solid #ff214f;
}
address i, 
.textwidget a { 
	color: #ff214f;
}
.footer-sidebar .textwidget a, 
.footer-sidebar .widget table a { 
	color: #ff214f;
}

	
/*--------------------------------------------------------------		
## Captions		
--------------------------------------------------------------*/		

.wp-caption-text a { color: #ff214f; }		


/*--------------------------------------------------
=>> Site Footer Area
--------------------------------------------------*/

.footer-sidebar .widget a:hover, 
.footer-sidebar .widget a:focus { 
	color: #ff214f; 
}

/*--------------------------------------------------
=>> Theme Site Info Area
--------------------------------------------------*/

.site-info p a, 
.site-info > a { 
	color: #ff214f; 
}

/*-----------------------------------------------------
=>> Sidebar Widget Style Css According to WordPress 6.0
-----------------------------------------------------*/

.sidebar .widget .wp-block-group .wp-block-preformatted a {
	color: #ff214f;
}
.sidebar .widget .wp-block-group .wp-block-tag-cloud a:hover, .sidebar .widget .wp-block-group .wp-block-tag-cloud a:focus {
    background-color: #ff214f;
    border: 1px solid #ff214f;
}
.sidebar .widget .wp-block-group .wp-block-verse a {
	color: #ff214f;
}
.sidebar .widget .wp-block-group .wp-block-code a {
	color: #ff214f;
}
.sidebar .widget .wp-block-group .logged-in a,
.sidebar .widget .wp-block-group .logged-out a {
	color: #ff214f;
}
.sidebar .widget .wp-block-group .wp-block-read-more {
	color: #ff214f;
}
.sidebar .widget .wp-block-group .wp-block-gallery .wp-element-caption a {
	color: #ff214f;
}

/*-----------------------------------------------------
=>> Footer Widget Style Css According to WordPress 6.0
-----------------------------------------------------*/

.footer-sidebar .widget .wp-block-group .logged-in a,
.footer-sidebar .widget .wp-block-group .logged-out a {
	color: #ff214f;
}

/*--------------------------------------------------
=>> Page Scroll Up/Down Area
--------------------------------------------------*/

.page-scroll-up a, 
.page-scroll-up a:hover,
.page-scroll-up a:active {
	background: #ff214f;
}

/*--------------------------------------------------
=>> Shop Products 
--------------------------------------------------*/

/*Product Sale*/
.woocommerce ul.products li.product .onsale, 
.theme-block.shop .product .onsale {
	background-color: #ff214f;
}
/*Homepage Product Buttons*/	
.theme-block.shop.theme-bg-default .product .button.add_to_cart_button:hover, 
.theme-block.shop.theme-bg-default .product .button.product_type_grouped:hover,                     
.theme-block.shop.theme-bg-default .product .button.product_type_simple:hover, 
.theme-block.shop.theme-bg-default .product .button.product_type_external:hover, 
.theme-block.shop.theme-bg-default .product .button.product_type_variable:hover, 
.theme-block.shop.theme-bg-default .product a.added_to_cart, 
.theme-block.shop.theme-bg-default .product a.added_to_cart:hover {
	color: #333;
	border-bottom: 2px solid #333;
}
/*Product Buttons*/
.woocommerce ul.products li.product .button.add_to_cart_button:hover, 
.woocommerce ul.products li.product .button.product_type_grouped:hover, 
.woocommerce ul.products li.product .button.product_type_simple:hover, 
.woocommerce ul.products li.product .button.product_type_external:hover, 
.woocommerce ul.products li.product .button.product_type_variable:hover {
	color: #ff214f;
	border-bottom: 2px solid #ff214f;
}
.woocommerce ul.products li.product a.added_to_cart {
	color: #ff214f;
	border-bottom: 2px solid #ff214f;
}
.woocommerce ul.products li.product a.added_to_cart:hover {
	color: #ff214f;
	border-bottom: 2px solid #ff214f;
}

/*Product Single View*/

.woocommerce div.product form.cart .button:hover, 
.woocommerce div.product form.cart .button:hover {
	background: #ff214f;
}
.woocommerce table.shop_table td.product-name, 
.woocommerce table.shop_table td.product-name a {
	color: #ff214f;	
}
.product_meta .posted_in a:hover, 
.product_meta .tagged_as a:hover {
	color: #ff214f;
}
.woocommerce #review_form #respond .form-submit input:hover {
    background: #ff214f;
}

/*Product Cart View*/
.woocommerce .woocommerce-error .button, 
.woocommerce .woocommerce-info .button, 
.woocommerce .woocommerce-message .button, 
.woocommerce-page .woocommerce-error .button, 
.woocommerce-page .woocommerce-info .button, 
.woocommerce-page .woocommerce-message .button {
    background-color: #ff214f;
}
/*Product Cart Table*/
.woocommerce table.shop_table td.product-name a:hover, 
.woocommerce table.shop_table td.product-subtotal .woocommerce-Price-amount {
	color: #ff214f;	
}
.woocommerce-cart table.cart td.actions .coupon button.button:hover {
	background: #ff214f;
    color: #fff;	
}
.woocommerce-cart table.cart td.actions button.button {
	background: #ff214f;
    color: #fff;
}
#add_payment_method .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button, 
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit, 
.woocommerce button.button.woocommerce-Button {
	background-color: #ff214f;
}
.checkout_coupon.woocommerce-form-coupon .form-row button.button:hover {
	background-color: #ff214f;
}
.woocommerce #payment #place_order, 
.woocommerce-page #payment #place_order {
    background-color: #ff214f;
}
/*WooCommerce Widgets*/
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    background-color: #ff214f;
}
.woocommerce .widget_price_filter .price_slider_amount .button {
    background-color: #ff214f;
}
.woocommerce-mini-cart__buttons.buttons a.button, 
.widget .woocommerce-mini-cart__buttons.buttons a.button:hover, 
.widget .woocommerce-mini-cart__buttons.buttons a.button:focus {
	background-color: #ff214f;
	color: #fff;
}
/*WooCommerce Pagination*/
.woocommerce nav.woocommerce-pagination ul li a:focus, 
.woocommerce nav.woocommerce-pagination ul li a:hover, 
.woocommerce nav.woocommerce-pagination ul li span.current {
	background-color: #ff214f;
    border: 1px solid #ff214f;
    color: #fff;
}