/*
Theme Name: Appointech
Theme URI: https://themearile.com/appointech-theme/
Template: aasta
Author: ThemeArile
Author URI: https://themearile.com
Description: Appointech is a dark and creative multipurpose business WordPress theme that enables you to create stunning, fully responsive WordPress-powered websites with ease. It’s truly a multipurpose theme that is an ideal choice for both big and small businesses. It comes packed with powerful features for designing and customizing theme pages, advanced typography, sticky menu, header styles, logo upload, translation ready (WPML, Polylang), built with SEO in mind and it's built to be beautiful on all screen sizes. The theme is perfectly suited for business, consultant, finance, corporate, freelancer, agency, business promotion, personal portfolio, electrician, industries, education, SEO, construction, fashion, online shop, health & medical, beauty & spa salons, wedding, photography, gym, cafe, music, interior design firms, architecture firms, lawyer, restaurant, hotel, blog, magazine, travel agency and many other websites compatible. This theme supports the best Elementor page builder to create, edit, and update page designs as per the requirement. Appointech also supports popular free and premium WordPress plugins such as Elementor, Yoast SEO, WooCommerce, Contact Form 7, Jetpack, Google Analytics, and much more. Check the demo of Appointech Pro https://themearile.com/aasta-pro-theme/.
Version: 2.2
Tested up to: 6.0
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: appointech
Tags: one-column, two-columns ,right-sidebar, flexible-header, custom-background, custom-header, custom-menu, editor-style, featured-images, footer-widgets, post-formats, theme-options, threaded-comments, rtl-language-support, translation-ready, full-width-template, custom-logo, blog, e-commerce, portfolio
*/

/*--------------------------------------------------
=>> Body Custom Background Css
--------------------------------------------------*/

body.custom-background .theme-bg-dark,
body.custom-background .theme-bg-default, 
body.custom-background .theme-blog.theme-bg-grey {
    background-color: transparent !important;
}

/*--------------------------------------------------
=>> Page Header
--------------------------------------------------*/

.theme-page-header-area {
    padding: 7.9375rem 0 7.9375rem 0;
}

/*--------------------------------------------------
=>> Theme Main Slider
--------------------------------------------------*/

.theme-main-slider .overlay {
    background-color: rgba(0,0,0,0.45);
}
#theme-main-slider .item {
    height: 850px;
}
.theme-slider-content .theme-caption-bg2 .title-large {
	font-size: 5rem;
	line-height: 1; 
	color: #ffffff; 
	text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);  
	margin-bottom: 1.5625rem; 
    text-transform: capitalize;	
	font-weight: 500;
}
.theme-slider-content .theme-caption-bg2 .sub-title {
    background-color: transparent;
    color: #fff;
    text-shadow: none;
    display: inline-block;
    padding: 0px 0px 0px 0.875rem;
}
@media (min-width: 992px) {
	.theme-slider-content { 
		top: 50%;
	}
}
@media (max-width: 768px) { 
	.theme-slider-content .theme-caption-bg2 .title-large { font-size: 3.5rem; margin: 0 0 1.000rem; }
}
@media (max-width: 500px) { 
	.theme-slider-content .theme-caption-bg2 .title-large { font-size: 3rem; margin: 0 0 1.000rem; } 
	.theme-slider-content .theme-caption-bg2 .sub-title { margin-bottom: 1.500rem; padding: 3px 5px 3px 11px; }
	.theme-caption-bg, .theme-caption-bg2 { width: 100%; padding-left: 20px; padding-right: 20px; }	
}


/*--------------------------------------------------
=>> Theme Service Area Two
--------------------------------------------------*/

.theme-services .service-content-two { 
	position: relative; 
	margin: 0 0 3.125rem; 
	transition: all 0.3s;
}
.theme-services .service-content-thumbnail-two { 
    position: relative;
    transition: all 0.3s;
    text-align: center;
    margin-right: 1.500rem;
    width: 3.875rem;
    height: 3.875rem;
}
.theme-services .service-content-thumbnail-two,
.theme-services .service-content-thumbnail-two a {  
	z-index: 1;  
	background: transparent;
    border-radius: 0;
	font-size: 3rem;
	line-height: 1;
	padding: 0; 
	position: relative; 
	-webkit-transition: .3s cubic-bezier(.53,.645,.51,1.34);
    -o-transition: .3s cubic-bezier(.53,.645,.51,1.34);
    transition: .3s cubic-bezier(.53,.645,.51,1.34);
}
.theme-services .col-md-4:nth-child(3n+1){ clear:left; }
@media (min-width: 768px) and (max-width: 992px) {
	.theme-services .col-md-4:nth-child(3n+1) { clear: none; }
	.theme-services .col-sm-6:nth-child(2n+1) { clear:left; }	
}
.theme-services .service-content-two:hover .service-links a, 
.theme-services .service-content-two:focus .service-links a, 
.theme-services .service-content-two .service-links a:hover, 
.theme-services .service-content-two .service-links a:focus  {
	background: #111;
	border: 1px solid #111;
	color: #fff;
}

/*--------------------------------------------------
=>> Theme Project Area   
--------------------------------------------------*/

.theme-project .row.theme-project-row {
	margin-right: 0;
    margin-left: 0;
}
.theme-project.vrsn-three .theme-project-content .click-view {
    background-color: transparent;
    margin: 0;
    padding: 0rem 1.75rem 1.25rem;
    position: absolute;
    width: 100%;
    top: unset;
    -webkit-transform: unset;
    -moz-transform: unset;
    transform: unset;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    z-index: 1;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    transition: all .4s ease-out;
}
.theme-project.vrsn-three .portfolio-thumbnail {
    text-align: left;
}
.theme-project.vrsn-three .theme-project-content .theme-project-title, .theme-project.vrsn-three .theme-project-content p {
    -webkit-transform: unset;
    -moz-transform: unset;
    -o-transform: unset;
    -ms-transform: unset;
    transform: unset;
}
.theme-project.vrsn-three .theme-project-content .theme-project-title {
    margin-bottom: 0rem;
}
.theme-project.vrsn-three .theme-project-content a.view-popup {
    background-color: #fff;
    color: #000;
    top: 10px;
    opacity: 0;
    right: -50px;
}

/*--------------------------------------------------
=>> Theme Testimonial Area Three
--------------------------------------------------*/

.theme-testimonial.vrsn-three .theme-testimonial-overlay {
    background-color: rgba(0, 0, 0, .50);
}
.theme-testimonial.vrsn-three .theme-testimonial-block:before {
	display: none;
}
.theme-testimonial.vrsn-three .testimonial-content.vrsn-two {
	padding: 4.5rem 2.5rem 2.5rem;
	margin-bottom: 2rem;
	text-align: center;
	border-radius: 0;
}
.theme-testimonial.vrsn-three .testimonial-content.vrsn-two:hover {
	transform: translateY(-7px);
	-webkit-box-shadow: 0 3px 15px 0 rgb(0 0 0 / 2%);
	-moz-box-shadow: 0 3px 15px 0 rgb(0 0 0 / 2%);
	box-shadow: 0 3px 15px 0 rgb(0 0 0 / 2%);
}
.theme-testimonial.vrsn-three .testimonial-content.vrsn-two::before {
	position: absolute;
    font-family: "FontAwesome";
    content: "\f10d";
    border-color: transparent;
    top: 10px;
    left: 45%;
    right: 0;
    display: block;
    padding: 0;
    font-size: 2.5rem;
    color: #fff;
    border-width: 0;
    border-style: none;
}
.theme-testimonial.vrsn-three .testimonial-content.vrsn-two:after {
	content: '';
    width: 29px;
    height: 29px;
    position: absolute;
    bottom: -6px;
    left: 50%;
    z-index: 1;
    -webkit-transform: translateX(-50%) rotate(125deg) skew(-20deg);
    -ms-transform: translateX(-50%) rotate(125deg) skew(-20deg);
    transform: translateX(-50%) rotate(125deg) skew(-20deg);
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
.theme-testimonial.vrsn-three .theme-testimonial-block p {
    color: #ffffff !important;
	font-size: 1.125rem;
}
.theme-testimonial.vrsn-three .theme-testimonial-block.vrsn-two .media {
	display: block;
    text-align: center;
	margin-left: 0;
}
.theme-testimonial.vrsn-three .theme-testimonial-block.vrsn-two .thumbnail {
    margin: 0 auto 1.25rem;
}
.theme-testimonial.vrsn-three .theme-testimonial-block.vrsn-two .thumbnail img {
    margin: 0;
    width: 5rem;
    height: 5rem;
}
.theme-testimonial.vrsn-three .theme-testimonial-block .name {
    font-size: 1.125rem;
}
.theme-testimonial.vrsn-three .theme-testimonial-block .position {
    font-size: 1rem;
}

/*--------------------------------------------------
=>> Theme Blog Area - Homepage Three
--------------------------------------------------*/

.theme-blog.vrsn-three .post:hover {
	-webkit-box-shadow: 0 10px 25px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 10px 25px rgb(0 0 0 / 10%);
    -ms-box-shadow: 0 10px 25px rgb(0 0 0 / 10%);
    box-shadow: 0 10px 25px rgb(0 0 0 / 10%);
}
.theme-blog.vrsn-three .post-thumbnail {
	padding: 1.375rem 1.375rem 0rem;
}
.theme-blog.vrsn-three .post-thumbnail img {
    border-bottom: 4px solid transparent;
	transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    transform: scale(1.0);
}
.theme-blog.vrsn-three .post:hover .post-thumbnail img {
	transform: scale(1.0);
}
.theme-blog.vrsn-three .media {
	display: block;
}
.theme-blog.vrsn-three .media .posted-on {
    width: auto;
	display: inline-block;
    margin-bottom: 0.938rem;
	margin-right: 0;
}
.theme-blog.vrsn-three .media .posted-on time.days {
	background-color: #4d4f56;
    border: 1px dotted #828385;
    padding-top: 0.188rem;
    font-size: 1.2rem;
    width: auto;
    text-align: left;
    padding-left: 0.75rem;
    padding-right: 1.563rem;
    display: inline-block;
    padding-bottom: 0.188rem;
    color: #fff;
    border-radius: 0;
}
.theme-blog.vrsn-three .media .posted-on time.days small.months {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0;
    width: 70px;
    margin-left: 0.938rem;
}

/*-----------------------------------------------------
=>> Sidebar Widget Style Css According to WordPress 6.0
-----------------------------------------------------*/

.sidebar .widget .wp-block-group .wp-block-verse {
	margin-bottom: 0;
}
.sidebar .widget .wp-block-group .wp-block-quote {
	margin-bottom: 0;
}
.sidebar .widget .wp-calendar-table thead th {
    border: 2px solid #5B5D64;
    background-color: #5B5D64;
	color: #fff;
}
.sidebar .widget .wp-calendar-table tbody td {
	border: 1px solid #5B5D64;
}
.sidebar .widget .wp-block-calendar table caption {
	text-align: center;
}
.sidebar .widget .wp-block-group .wp-block-tag-cloud a {
    background-color: #5b5d64;
    border: 1px solid #5b5d64;
    color: #e5e5e5;
    font-size: 0.875rem !important;
    display: inline-block;
    padding: 0.313rem 0.813rem;
    margin: 0 0.125rem 0.438rem 0px;
    border-radius: 0px;
}
.sidebar .widget .wp-block-group .wp-block-button .wp-block-button__link {
	background: #5B5D64;
    border: 2px solid #5B5D64;
    color: #fff !important;
}
.sidebar .widget .wp-block-group ul.wp-block-rss {
	margin-left: 0;
}
.sidebar .widget .wp-block-group .wp-block-latest-comments li.wp-block-latest-comments__comment, 
.sidebar .widget .wp-block-group .wp-block-latest-posts.wp-block-latest-posts__list li, 
.sidebar .widget .wp-block-group .wp-block-page-list li.wp-block-pages-list__item, 
.sidebar .widget .wp-block-group ul.wp-block-rss li, 
.sidebar .widget .wp-block-group ul.wp-block-archives-list li {
	padding-top: 0.4375rem; 
    padding-bottom: 0.4375rem; 
    border-bottom: 1px dotted #5b5d64;
	margin-bottom: 0;
}
.sidebar .widget .wp-block-group .wp-block-latest-comments article {
    margin-bottom: 0rem;
}
.sidebar .widget .wp-block-group .wp-block-latest-comments .wp-block-latest-comments__comment .wp-block-latest-comments__comment-date {
	padding-top: 0.5rem;
    padding-bottom: 0.5rem;
	font-size: 0.875rem;
}
.sidebar .widget .wp-block-group .wp-block-latest-posts.wp-block-latest-posts__list li:before, 
.sidebar .widget .wp-block-group .wp-block-page-list li:before, 
.sidebar .widget .wp-block-group ul.wp-block-archives-list li:before {
    color: #e5e5e5;
}
.sidebar .widget .wp-block-group ul.wp-block-page-list,
.sidebar .widget .wp-block-group ul.wp-block-page-list li ul.submenu-container,
.sidebar .widget .wp-block-group ul.wp-block-categories-list {
	margin-left: 0;
    list-style: none;
}


/*------------------------------------------------------------
=>> Footer Sidebar Widget Style Css According to WordPress 6.0
------------------------------------------------------------*/

.footer-sidebar .widget .wp-block-group .wp-block-latest-comments li.wp-block-latest-comments__comment, 
.footer-sidebar .widget .wp-block-group .wp-block-latest-posts.wp-block-latest-posts__list li, 
.footer-sidebar .widget .wp-block-group .wp-block-page-list li.wp-block-pages-list__item, 
.footer-sidebar .widget .wp-block-group ul.wp-block-rss li, 
.footer-sidebar .widget .wp-block-group ul.wp-block-archives-list li, 
.footer-sidebar .widget .wp-block-group ul.wp-block-categories-list li {
	padding-top: 0.4375rem; 
    padding-bottom: 0.4375rem; 
    border-bottom: 1px dotted #5b5d64;
	margin-bottom: 0;
}
.footer-sidebar .widget .wp-block-group .wp-block-latest-posts.wp-block-latest-posts__list li:before, 
.footer-sidebar .widget .wp-block-group .wp-block-page-list li:before, 
.footer-sidebar .widget .wp-block-group ul.wp-block-archives-list li:before,
.footer-sidebar .widget .wp-block-group ul.wp-block-categories-list li:before {
	font-family: FontAwesome;
    color: #e5e5e5;
    content: "\f096";
    font-size: 0.625rem;
    font-weight: 400;
    margin-right: 0.625rem;
    vertical-align: middle;
}
.footer-sidebar .widget .wp-block-group ul.wp-block-rss {
	margin-left: 0;
}
.footer-sidebar .widget .wp-block-group .wp-block-latest-comments article {
    margin-bottom: 0rem;
}
.footer-sidebar .widget .wp-block-group .wp-block-latest-comments li.wp-block-latest-comments__comment {
	padding-top: 0.7375rem;
    padding-bottom: 0.7375rem;
}



/*--------------------------------------------------
=>> Theme Blog Single Area
--------------------------------------------------*/

.post .post-password-form input[type="password"] {
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}