/*
Theme Name: eLearning Education
Theme URI: https://www.themespride.com/themes/free-elearning-education-wordpress-theme/
Author: ThemesPride
Author URI: https://www.themespride.com/
Description: eLearning Education is a minimal and professional WordPress theme that has been perfectly crafted for all types of education centres. It is suitable for primary and secondary schools, training center, course hub, coaching centre, vocational training, book selling, arts and crafts classes, daycare, competitive exams academy, distance learning, software training institute, and such types. It is very user-friendly and is packed with great features for your education centre. It is cleanly coded theme. It is translation-ready in any language you want with support for RTL layout. It has full support for WooCommerce so you can create an online store for books and take secure payments for course enrolments, subscriptions, resources or merchandise. Event and blog pages will help you keep your academic community engaged and active, and there are tons of pre-built custom add-ons available to suit your individual needs. It is fully responsive that fits well on all devices, be it desktop, mobile or tabs. Your users, students, teachers, and admin can check-in, keep up to date, communicate, learn and even submit work with this superb theme. It comes with testimonial section and advance social media option to link all your social media pages to give credibility to your work.
Version: 0.3.4
Tested up to: 6.1
Requires PHP: 7.2
Requires at least: 5.0
License: GPLv2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: elearning-education
Tags: wide-blocks, block-styles, one-column, two-columns, right-sidebar, left-sidebar, three-columns, four-columns, grid-layout, custom-colors, custom-header, custom-background, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, full-width-template, rtl-language-support, sticky-post, theme-options, post-formats, threaded-comments, flexible-header, blog, education, portfolio

eLearning Education WordPress Theme, Copyright 2022 ThemesPride
eLearning Education is distributed under the terms of the GNU GPL

*/

html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body{
  margin:0;
  padding:0;
  -ms-word-wrap:break-word;
  word-wrap:break-word;
  background-color:#fff;
  font-size:15px;
  color: #676767;
  font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  color: #192640;
  font-family: 'Libre Baskerville', serif;
}
p{
  font-size: 15px;
}
a,a:hover{
  text-decoration:none;
  color:#59d3b1;
}
input[type="search"] {
  padding: 10px;
  border: 1px solid #ebebeb;
  font-size: 15px;
}
button[type="submit"] {
  padding: 11px;
  background: #59d3b1;
  border: none;
  cursor: pointer;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
textarea{
  width: 100%;
}
.box-content a,
#theme-sidebar .textwidget a,
#footer .textwidget a,
.comment-body a,
.entry-content a,
.entry-summary a,
#main-content a{
  text-decoration: underline;
  color: #59d3b1;
}

/*--------------------------------------------------------------
Accessibility CSS
--------------------------------------------------------------*/

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
  Pre Loader
--------------------------------------------------------------*/

.loader{
  background: #fff;
  z-index: 99999;
  width: 100%;
  height: 100%;
  position: fixed;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 5px solid #192640;
  border-radius: 50%;
}
.center1{
  width: 200px;
  height: 200px;
  border-left-color: #59d3b1;
  border-top-color: #59d3b1;
  animation: animateCenter1 2s infinite linear;
}
.center2{
  width: 100px;
  height: 100px;
  border-left-color: #2196f3;
  border-top-color: #2196f3;
  animation: animateCenter2 2s infinite linear;
}
.ring{
  position: absolute;
  top: 0;
  left: 50%;
  transform-origin: bottom;
  transform: translateX(-50%);
  width: 4px;
  height: 50%;
  background: transparent;
}
.center1 .ring{
  transform: translateX(-50%) rotate(45deg);
}
.center2 .ring{
  transform: translateX(-50%) rotate(-135deg);
}
.ring::before{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.center1 .ring::before {
  background: #59d3b1;
}
.center2 .ring::before{
  background: #2196f3;
}
@keyframes animateCenter1{
  0%{
    transform: translate(-50%,-50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%,-50%) rotate(360deg);
  }
}
@keyframes animateCenter2{
  0%{
    transform: translate(-50%,-50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%,-50%) rotate(-360deg);
  }
}

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/

.social-media i {
  color: #6b6b6b;
  font-size: 14px;
  margin: 0 10px;
}
.social-media {
  padding: 14px 0;
}
.social-media i:hover{
  color: #59d3b1;
}
.headerbox {
  padding: 15px 0;
  background: #ebeef2;
}
.top-header {
  background: #192640;
}
a.register-btn,a.login-btn {
  background: #59d3b1;
  color: #fff;
  padding: 7px;
  text-transform: uppercase;
}
a.login-btn{
  background: #294b77;
}
.top-header span,.top-header a {
  color: #fff;
}
a.teacher-btn {
  background: #192640;
  padding: 10px 15px;
  border-radius: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.headerbox i{
  font-size: 18px;
  color: #192640;
}
.page-template-front-page .headerbox {
  padding: 15px 0 50px;
}
.page-template-front-page .innermenubox {
  background: #59d3b1;
  border-radius: 10px;
}
.page-template-front-page .menubar {
  background: transparent;
  position: absolute;
  width: 100%;
  margin-top: -25px;
}
.logo h1 {
  font-weight: bold;
  padding: 0;
  font-size: 25px;
  line-height: 1;
}
.logo-same-line h1 {
  font-size: 25px;
}
.dropdown-menu.category-search {
  z-index: 99999;
  padding: 0;
  width: 100%;
}
.category-search ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
.category-search ul li {
  padding: 5px 20px;
  border-bottom: solid 1px #eee;
}

#main-content a{
	color: #fff;
}

/*--------------------------------------------------------------
Menu bar
--------------------------------------------------------------*/
@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
.scrolled {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.25);
  background: #fff;
}
.menubar {
  -webkit-transition: all 0.5s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.5s ease;
  background: #59d3b1;
  z-index: 9999;
}
ul.list_nav {
  margin: 0 auto;
  text-align: center;
  display: block;
}
.main-navigation ul{
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.main-navigation li{
  position: relative;
  padding: 17px 12px;
  display: inline-block;
  text-transform: uppercase;
}
.main-navigation a{
  display: block;
  color: #fff;
  padding: 0;
  font-size: 12px;
  font-weight: 600;
  position: relative;
}
.main-navigation a:hover{
  color: #192640;
}
.main-navigation ul ul{
  display: none;
  position: absolute;
  left: 0;
  top: 100% ;
  background: #192640;
  min-width: 215px;
  z-index: 9999;
}
.main-navigation ul ul ul{
  left: 100%;
  top: 0;
}
.main-navigation ul ul a{
  color: #fff;
}
.main-navigation ul ul li,
.menubar.scrolled .main-navigation ul ul li{
  float: none;
  display: block;
  text-align: left;
  border-bottom: 1px solid #cccccc;
  border-left: none;
  border-right: none !important;
}
.main-navigation ul ul li:last-child{
  border-bottom: 0;
}
.main-navigation ul li:hover > ul{
  display: block;
}
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a{
  color: #192640;
}
.main-navigation .menu > ul > li.highlight{
  background-color: #59d3b1;
}
.main-navigation .menu > ul > li.highlight:hover{
  background: transparent;
}
.menubar.scrolled .menu > ul > li:hover > a:after,
.menubar.scrolled .menu > ul > li.current_page_item > a:after,
.menubar.scrolled .menu > ul > li.current-menu-item > a:after{
  height: 2px;
}
.menu > ul > li.exoplanet-search:after{
  background: transparent !important;
}
.main-navigation ul ul li:hover > a{
  color: #fff;
}

/*--------------------------------------------------------------
Superfish Menu
--------------------------------------------------------------*/

.sf-arrows .sf-with-ul:after{
  content: '';
  position: absolute;
  right: 0;
  margin-top: -2px;
  height: 0;
  width: 0;
  border-top-color: #e1e1e1;
}
.sf-arrows ul .sf-with-ul:after{
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #888;
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after{
  border-left-color: #333;
}
.toggle-nav, a.closebtn{
  display: none;
}

/*--------------------------------------------------------------
Search pop up
--------------------------------------------------------------*/

.search_inner {
  position: relative;
}
.search_inner [type="submit"] {
  padding: 10px 25px;
  background: url(assets/images/search.png) no-repeat scroll 10px 12px #59d3b1;
  float: right;
  text-indent: -9999px;
  border-radius: 0 25px 25px 0;
}
.search_inner form {
  background: #fff;
  border-radius: 30px;
}
.search_inner input[type="search"]{
  background: transparent;
  border: none;
  width: 75%;
}
.header-show {
  position: absolute;
  top: 0;
  right: 50px;
  background: #fff;
  border-left: solid 1px #ddd;
}
.search_inner .btn-secondary,.search_inner .btn-secondary:hover,.search_inner .btn-secondary:active {
  color: #000;
  background-color: transparent;
  border-color: transparent;
}
.search_inner .btn-secondary {
  padding: 8.5px 20px;
}

/*--------------------------------------------------------------
Post Pages
--------------------------------------------------------------*/

.page-box {
  border: 1px solid #ebebeb;
  margin-bottom: 30px;
  padding: 20px;
}
.box-image img,
.box-content img {
  width: 100%;
  height: auto;
}
.box-info i {
  margin-right: 5px;
  background: #eee;
  padding: 10px;
  color: #192640;
  font-size: 12px;
}
.box-info {
  padding: 5px 0;
}
.box-info span {
  margin-right: 10px;
  color: #6b6b6b;
  font-size: 12px;
}
.page-box p {
  color: #6b6b6b;
  font-size: 15px;
  margin: 15px 0;
}
.page-box h4 a {
  font-size: 25px;
  font-weight: bold;
}
.page-box h4 {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.page-box a,.nav-links a {
  text-decoration: none;
}
.readmore-btn a {
  border-bottom: 1px solid #ebebeb;
  font-weight: 600;
}
/*--------------------------------------------------------------
SLIDER
--------------------------------------------------------------*/
#slider{
  max-width:100%;
  margin:auto;
  padding:0;
  background: #192640;
}
#slider img {
  width: 100%;
  opacity: 0.7;
}
#slider .carousel-item-next,#slider .carousel-item-prev,#slider .carousel-item.active {
  display: block !important;
}
#slider .carousel-control-prev-icon, #slider .carousel-control-next-icon{
  background-image: none;
  font-size: 18px;
  font-weight: 800;
  padding: 15px 22px;
  background: #59d3b1;
  color: #fff;
  border-radius: 50%;
}
#slider .carousel-control-next, #slider .carousel-control-prev{
  opacity: 1;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  width: auto;
  height: auto;
}
#slider .carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  right: 50%;
  bottom: auto;
  padding: 0;
}
#slider .inner_carousel h2 {
  margin: 0;
  font-size: 60px;
  color: #fff;
  padding-bottom: 0;
}
#slider .inner_carousel {
  color: #fff;
}
#slider .inner_carousel p {
  font-size: 16px;
  margin-top: 10px;
}
.more-btn a {
  color: #192640;
  font-weight: 600;
  font-size: 15px;
  background: #fff;
  padding: 12px 25px;
  border-radius: 30px;
}
.more-btn{
  margin: 25px 0;
}

/*--------------------------------------------------------------
ONLINE COURSES
--------------------------------------------------------------*/

#online-courses{
  background: #e3e7eb;
}
#online-courses h2 hr {
  width: 15%;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.courses-box {
  background: #fff;
}
.courses-box-content span a {
  font-size: 16px;
  color: #6b6b6b;
}
.courses-box-content h3 a {
  font-size: 16px;
  color: #353535;
}
.courses-info strong{
  color: #59d3b1;
}
.courses-info span {
  color: #1b1b1b;
}
.courses-info i{
  color: #6b6b6b;
}

/*--------------------------------------------------------------
## Sticky
--------------------------------------------------------------*/

.stick_head {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}
.page-template-front-page .stick_head{
	background: #59d3b1!important;
}
.menubar.login-user.stick_head {
	position: fixed;
	margin-top: 32px;
	box-shadow: 0 8px 6px -6px #e0e2db;
	border-bottom: solid 1px #e0e2db;
}
.menubar.stick_head {
  position: fixed;
  margin-top: 0px;
}-

/*--------------------------------------------------------------
WOOCOMMERCE CSS
--------------------------------------------------------------*/

.woocommerce nav.woocommerce-pagination ul li {
  border-right: none;
}
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span{
  padding:15px;
}
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current{
  background: #192640;
  color: #fff;
}
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea{
  padding: 10px;
}
.woocommerce ul.products li.product .button,
a.checkout-button.button.alt.wc-forward {
  margin-top: 1em;
  font-size: 14px;
}
.woocommerce  .star-rating {
  margin: 0 auto 10px !important;
}
.woocommerce span.onsale{
  background: #192640;
  padding: 0;
}
.products li {
  border: solid 1px #ddd;
  padding: 10px !important;
  text-align: center;
}
h2.woocommerce-loop-product__title,
.woocommerce div.product .product_title {
  color: #192640;
  font-weight: 800;
  margin-bottom: 10px !important;
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price, .woocommerce div.product span.price {
  color: #192640;
  font-size: 15px
}
.woocommerce div.product .product_title,.woocommerce div.product p.price, .woocommerce div.product span.price{
  margin-bottom: 5px;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
  background: #59d3b1;
  color: #fff;
  padding: 15px;
  border-radius: 0;
  text-transform: uppercase;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
  background: #192640;
  color: #fff;
}
.woocommerce .quantity .qty {
  width: 5em;
  padding: 9px;
  border-radius: 0;
  border: solid 2px #192640;
  color: #192640;
}
.col-1,.col-2 {
  max-width: 100%;
}
nav.woocommerce-MyAccount-navigation ul {
  list-style: none;
  padding: 0;
}
nav.woocommerce-MyAccount-navigation ul li {
  border: solid 2px #192640;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 0 0 #192640;
  font-weight: bold;
}
nav.woocommerce-MyAccount-navigation ul li a{
  color: #192640;
  text-decoration: none;
}
span.woocommerce-input-wrapper,
.woocommerce label,span.password-input {
 width: 100%;
}
.woocommerce .woocommerce-ordering select {
  padding: 5px;
  font-size: 12px;
}
span.posted_in {
  display: block;
}
.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
  width: 22%;
  display: inline-block;
  margin: 5px;
}

/*--------------------------------------------------------------
Posts Numbers
--------------------------------------------------------------*/
.page-numbers {
  background: #59d3b1;
  color: #fff;
  padding: 10px 15px;
  font-weight: bold;
}
.prev.page-numbers,
.next.page-numbers {
  font-size: 15px;
  background: #59d3b1;
}
.prev.page-numbers:focus,
.prev.page-numbers:hover,
.next.page-numbers:focus,
.next.page-numbers:hover {
	background-color: #192640;
	color: #fff;
}
.page-links {
	font-size: 14px;
	font-weight: 800;
	padding: 2em 0 3em;
}
.page-links .page-number {
	color: #192640;
	display: inline-block;
	padding: 0.5em 1em;
}
.page-links a {
	display: inline-block;
}
.page-links a .page-number {
	color: #192640;
}

/* Post Navigation */

.post-navigation {
	font-weight: 500;
	margin: 3em 0;
}
.nav-subtitle {
	background: transparent;
	color: #192640;
	display: block;
	font-size: 11px;
	margin-bottom: 1em;
	text-transform: uppercase;
}
.nav-title {
	color: #333;
	font-size: 15px;
}
span.meta-nav {
  color: #fff;
  background: #59d3b1;
  padding: 5px;
}
.nav-previous {
  float: right;
}

/*--------------------------------------------------------------
 404 page
--------------------------------------------------------------*/

.error-404 input[type="search"] {
  border: solid 1px #192640;
  padding: 10px;
}
.error-404 [type="submit"] {
  padding: 10px;
  background: #59d3b1;
  border: solid 1px #192640;
  cursor: pointer;
  font-weight: 500;
}

/*--------------------------------------------------------------
Sidebar
--------------------------------------------------------------*/

#theme-sidebar section {
  border: 1px solid #ebebeb;
  padding: 20px;
  background: #fff;
  margin-bottom: 30px;
}
#theme-sidebar h3 {
  border-bottom: 1px solid #ebebeb;
  font-size: 16px;
  color: #59d3b1;
  padding-bottom: 10px;
  font-weight: bold;
}
#theme-sidebar ul,#footer ul {
  list-style: none;
  padding: 0;
}
#theme-sidebar li:last-child {
  border: none;
}
#theme-sidebar li {
  border-bottom: 1px dashed #ebebeb;
  color: #6b6b6b;
  line-height: 20px;
  padding: 10px 0;
  font-size: 12px;
}
#theme-sidebar a:hover {
  color: #59d3b1;
}
#theme-sidebar a {
  color: #6b6b6b;
  font-size: 13px;
}
#theme-sidebar .textwidget img,
#footer img  {
  width: 100%;
  height: auto;
}
#theme-sidebar select {
  padding: 10px;
  border: solid 1px #ebebeb;
  background: transparent;
  font-size: 14px;
  width: 100%;
  color: #6b6b6b;
}
#theme-sidebar .tagcloud a {
  border: 1px solid #ebebeb;
  color: #6b6b6b;
  line-height: 20px;
  padding: 5px 10px;
  font-size: 12px !important;
  display: inline-block;
  margin-bottom: 5px;
}
#theme-sidebar .tagcloud a:hover{
  background: #59d3b1;
  color: #fff;
}
#theme-sidebar .tagcloud {
  margin-top: 15px;
}
#theme-sidebar input[type="search"],
#footer input[type="search"] {
  padding: 10px;
  width: 100%;
  border: 1px solid #ebebeb;
  font-size: 15px;
}
#theme-sidebar button[type="submit"],
#footer button[type="submit"] {
  padding: 8px;
  width: 100%;
  margin-top: 10px;
  background: #59d3b1;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}
#theme-sidebar button[type="submit"]:hover, #footer button[type="submit"]:hover,#comments input[type="submit"]:hover{
  background: #192640;
}
#theme-sidebar table#wp-calendar {
  border: solid 1px #ebebeb;
  text-align: center;
  margin-top: 15px;
  width: 100%;
}
#theme-sidebar th,#theme-sidebar td {
  border-right: solid 1px #ebebeb;
  padding: 10px 0;
}
#theme-sidebar tr {
  border-bottom: solid 1px #ebebeb;
}
.woocommerce #tp_content {
  margin-top: 30px;
}

/*--------------------------------------------------------------
Comments
--------------------------------------------------------------*/

#comments {
	clear: both;
	padding: 2em 0 0.5em;
}
.comments-title {
	font-size: 20px;
	margin-bottom: 1.5em;
}
.comment-list,
.comment-list .children {
	list-style: none;
	margin: 0;
	padding: 0;
}
.comment-list li:before {
	display: none;
}
.comment-body {
	margin-left: 65px;
}
.comment-author {
	font-size: 16px;
	margin-bottom: 0.4em;
	position: relative;
	z-index: 2;
}
.comment-author .avatar {
	height: 50px;
	left: -65px;
	position: absolute;
	width: 50px;
}
.comment-author .says {
	display: none;
}
.comment-meta {
	margin-bottom: 1.5em;
}
.comment-metadata {
	color: #767676;
	font-size: 10px;
	font-weight: 800;
	text-transform: uppercase;
}
.comment-metadata a {
	color: #767676;
}
.comment-metadata a.comment-edit-link {
	color: #192640;
	margin-left: 1em;
}
.comment-body {
	color: #333;
	font-size: 14px;
	margin-bottom: 4em;
}
.comment-reply-link {
	font-weight: 800;
	position: relative;
}
.comment-reply-link .icon {
	color: #192640;
	left: -2em;
	height: 1em;
	position: absolute;
	top: 0;
	width: 1em;
}
.children .comment-author .avatar {
	height: 30px;
	left: -45px;
	width: 30px;
}
.bypostauthor > .comment-body > .comment-meta > .comment-author .avatar {
	border: 1px solid #333;
	padding: 2px;
}
.no-comments,
.comment-awaiting-moderation {
	color: #767676;
	font-size: 14px;
	font-style: italic;
}
.comments-pagination {
	margin: 2em 0 3em;
}
.comment-form #wp-comment-cookies-consent {
	margin: 0 10px 0 0;
}
.comment-form .comment-form-cookies-consent label {
	display: inline;
}
#comments input[type="submit"] {
  background: #59d3b1;
  border: none;
  padding: 10px 50px;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
}
input[type="text"],
input[type="email"],
input[type="phno"],
input[type="password"],input#url,
textarea{
  border:1px solid #c8c8c8;
  width:100%;
  font-size:16px;
  padding:10px 10px;
  margin:0 0 23px 0;
  height:auto;
}

/*--------------------------------------------------------------
Commen CSS
--------------------------------------------------------------*/

#primary {
  padding: 3% 0;
}
.sticky .page-box h4{
  background: url(assets/images/pin.png) no-repeat scroll 0 0px;
  padding-left: 40px;
}
#gallery-1 img {
  border: 2px solid #192640 !important;
}
#gallery-1 .gallery-item {
  width: 30% !important;
  margin: 4px;
}
iframe,
.entry-audio audio{
  width: 100%;
}
.entry-video {
    width: 100%;
}
.entry-audio {
    width: 100%;
}
/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
#footer {
  background: #192640;
  clear: both;
}
#footer h3 {
  font-size: 20px;
  padding: 10px 0;
  color: #fff;
  border-bottom: dashed 1px #fff;
  margin-bottom: 10px;
}
#footer li a {
  color: #fff;
}
#footer li {
  color: #fff;
  font-size: 13px;
  padding: 5px 0;
}
#footer table#wp-calendar {
  border: dashed 1px #fff;
  text-align: center;
  margin-top: 15px;
  width: 100%;
}
#footer th,#footer td {
  border-right: dashed 1px #fff;
  padding: 5px 0;
  color: #fff;
}
#footer tr {
  border-bottom: dashed 1px #fff;
  color: #fff;
}
#footer select {
  padding: 5px;
  width: 100%;
}
#footer .widget_rss img{
  width: auto;
}
#footer .widget_rss li{
  border-bottom: solid 2px #fff;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
#footer .textwidget {
  color: #fff;
}
#footer .tagcloud a {
  border: 1px dashed #fff;
  color: #fff;
  line-height: 20px;
  padding: 5px 10px;
  font-size: 12px !important;
  display: inline-block;
  margin-bottom: 5px;
}
#footer .tagcloud a:hover{
  border: 1px dashed #59d3b1;
}
.site-info {
  background: #59d3b1;
  padding: 15px 0;
}
.site-info p,.site-info a{
  margin-bottom: 0;
  text-align: center;
  color: #fff;
}

/*--------------------------------------------------------------
Scroll Top
--------------------------------------------------------------*/

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

/*--------------------------------------------------------------
WordPress Core
--------------------------------------------------------------*/
.alignwide {
  margin-left  : -80px;
  margin-right : -80px;
}
.alignfull {
  margin-left  : calc( -100vw / 2 + 100% / 2 );
  margin-right : calc( -100vw / 2 + 100% / 2 );
  max-width    : 100vw;
}
.alignfull img {
  width: 100vw;
}
.alignnone {
  margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}


/*--------------------------------------------------------------
LearnPress CSS
--------------------------------------------------------------*/

.learn-press-breadcrumb {
  margin: 20px auto !important;
}
.lp-archive-courses .course-summary .course-summary-content .course-detail-info,ul.learn-press-nav-tabs .course-nav.active::before,#learn-press-course .course-summary-sidebar .course-sidebar-preview .lp-course-buttons button:hover,#learn-press-profile .wrapper-profile-header,#learn-press-profile #profile-nav .lp-profile-nav-tabs li.active, #learn-press-profile #profile-nav .lp-profile-nav-tabs li:hover,.lp-archive-courses .learn-press-courses .course .course-item .course-content .course-categories a:first-child,.learn-press-message.error::before,.lp-archive-courses .learn-press-courses[data-layout=list] .course .course-item .course-content .course-readmore a{
  background: #192640 !important;
}
.lp-archive-courses .course-summary .course-summary-content .course-detail-info .course-info-left .course-meta .course-meta__pull-left .meta-item::before,#learn-press-course-tabs input[name=learn-press-course-tab-radio]:nth-child(1):checked ~ .learn-press-nav-tabs .course-nav:nth-child(1) label,#learn-press-course-tabs input[name=learn-press-course-tab-radio]:nth-child(2):checked ~ .learn-press-nav-tabs .course-nav:nth-child(2) label,#learn-press-course-tabs input[name=learn-press-course-tab-radio]:nth-child(3):checked ~ .learn-press-nav-tabs .course-nav:nth-child(3) label,.lp-archive-courses .course-summary .course-summary-content .course-detail-info .course-info-left .course-meta .course-meta__pull-left .meta-item.meta-item-categories .meta-item__value div a:hover,.lp-archive-courses .course-summary .course-summary-content .course-detail-info .course-info-left .course-meta .course-meta__pull-left .meta-item .meta-item__value > div a:hover,#learn-press-profile #profile-nav .lp-profile-nav-tabs > li > a > i,.learn-press-profile-course__tab__inner a.active,.learn-press-course-tab-filters .learn-press-filters a.active,input[type=radio]:nth-child(1):checked ~ .switch-btn:nth-child(2)::before,input[type=radio]:nth-child(3):checked ~ .switch-btn:nth-child(4)::before,.learn-press-breadcrumb li a:hover,.lp-archive-courses .learn-press-courses .course .course-item .course-content .course-permalink .course-title:hover,.lp-archive-courses .learn-press-courses[data-layout=list] .course .course-item .course-content .course-wrap-meta .meta-item::before,.lp-archive-courses .learn-press-courses .course .course-item .course-content .course-instructor a {
  color: #59d3b1 !important;
}
.learn-press-profile-course__tab__inner a.active,.learn-press-message.error{
  border-color: #192640 !important;
}
#learn-press-profile #profile-content,#learn-press-profile #profile-sidebar{
  float: none !important;
  width: 100% !important;
}
#learn-press-profile .wrapper-profile-header .lp-profile-left{
  margin-left: 240px !important;
}
.lp-archive-courses .learn-press-courses{
  display: block !important;
}

/*--------------------------------------------------------------
Media Queries
--------------------------------------------------------------*/
@media screen and (max-width: 1000px){
  #slider .carousel-caption {
    right: 15%;
  }
  #slider .inner_carousel h2{
    font-size: 30px;
  }
  .top-header,.logo{
    text-align: center;
  }
  .toggle-nav {
    display: none;
    cursor: pointer;
    margin: 0 auto;
    z-index: 999999;
    text-align: right;
  }
  .toggle-nav button {
    font-size: 30px;
    color: #fff;
    background: transparent;
    border: none;
  }
  .sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: 0;
    visibility: hidden;
    background-color: #192640;
    transition: 0.5s width ease-in-out;
    padding-top: 60px;
    box-shadow: 2px 2px 10px 0px #2d2d2d;
    overflow-y: scroll;
  }
  .sidenav.open{
    visibility: visible;
  }
  .sidenav a {
    text-decoration: none;
    color: #818181;
    display: block;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    display: block;
    color: #ffffff;
  }
  .sidenav #site-navigation {
    width: 100%;
  }
  .toggle-nav span{
    font-size:30px;
    cursor:pointer;
    text-align: right;
  }
  .toggle-nav{
    display: block;
  }
  .main-navigation a{
    color: #444;
  }
  .main-navigation .menu{
    float: none;
    text-align: center;
  }
  .main-navigation ul ul li,
  #masthead.scrolled .main-navigation ul ul li{
    display: block;
  }
  .main-navigation .menu > ul > li.highlight{
    background: transparent !important;
  }
  .menu > ul > li:hover:before,
  .menu > ul > li.current_page_item:before,
  .menu > ul > li.current-menu-item:before{
    display: none;
  }
  .main-navigation .current_page_item > a, .main-navigation .current-menu-item > a, .main-navigation .current_page_ancestor > a{
    color: #fff;
  }
  .sf-arrows .sf-with-ul:after{
    border-top-color: #333;
  }
  .toggle i.fa.fa-bars,.toggle i.fa.fa-times {
    float: right;
    color: black;
  }
  .menubar .nav ul{
    width:100%;
    margin-top:0;
  }
  .menubar .nav ul li,
  .menubar.scrolled .main-navigation li{
    border-top:1px #303b52 solid;
    display:block;
    text-align:left;
    float:none;
    width: 100%;
  }
  .nav ul li a{
    padding: 10px;
    display: block;
    color: #ffffff;
  }
  .nav ul li a:hover{
    color:#ff8a00;
  }
  .nav ul li ul,
  .nav ul li ul ul{
    display:block !important;
  }
  .nav ul li ul li a:before{
    content:"\00BB \00a0";
  }
  .nav ul li ul li a{
  padding-left:20px !important;
  }
  .nav ul li ul li ul li a{
    padding-left:30px !important;
  }
  .main-navigation ul ul{
    position: static;
    width: 100%;
    box-shadow: none;
  }
  .main-navigation li{
    padding: 0;
  }
  .scrolled{
    position: static;
  }
	.menubar.login-user.stick_head{
		margin-top: 46px;
	}
}
@media screen and (max-width: 560px){
  .header-show{
    position: static;
    border: none;
    text-align: center;
    border-radius: 30px;
    margin-top: 15px
  }
  .top-header span{
    display: block;
    text-align: center;
  }
  .page-template-front-page .menubar{
    background: #59d3b1;
    position: static;
    margin-top: 0;
  }
  .page-template-front-page .headerbox{
    padding: 15px 0;
  }
  #online-courses h2{
    font-size: 25px;
  }
  #slider .inner_carousel h2,
  #slider .inner_carousel p{
    display: none;
  }
  #slider .carousel-control-prev-icon,
  #slider .carousel-control-next-icon{
    padding: 8px 15px;
  }
  #slider .carousel-caption{
    right: auto;
  }
  .woocommerce ul.products.columns-3 li.product,
  .woocommerce-page ul.products.columns-3 li.product{
    width: 100%;
  }
  #footer,.content-area{
    text-align: center;
  }
  #return-to-top i{
    margin-right: 31px;
  }
	.menubar.login-user.stick_head{
		position: static;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1199px){
  #slider .carousel-caption {
    right: 30%;
  }
}
